.main {
    position: relative;
    text-align: center;
    top: 190px;
    z-index: auto;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 5px 15px black;
}

.time {
    font-size: 10rem;
}

.greeting {
    font-size: 3rem;
}

.create-note {
    margin: 2%;
}

.note-input {
    position: relative;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: solid #eeeeee 1px;
    padding: 0px 30px;
    bottom: 20px;
    width: 35%;
    margin-left: 70px;
    font-size: 1.5rem;
}

.add-button {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 25px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: floralwhite;
    margin-left: 10px;
    bottom: 2.5px;
    top: 2.5px;
    border-radius: 30px;
    padding-top: 0px;
}

.add-button:hover {
    background-color: #f3f2f233;
    cursor: pointer;
}

.list {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding-left: 0px;
    top: 50px;
}

.note {
    display: inline-block;
    position: relative;
    width: rem;
    margin-left: 25px;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

.delete-button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    color:#eeeeee;
    border-radius: 30px;
    width: 2.3rem;
    height: 2.3rem;
    font-size: 20px;
    top: 1px;
    padding-top: 5px;
}

.delete-button:hover {
    background-color: #e6e6e633;
    cursor: pointer;
}

.quote {
    position: fixed;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    bottom: 0;
    left: 40%;
}

.quoteauthor {
    margin: 5px;
}

.quotetext {
    margin: 5px;
}